
root { 
    display: block;
}
html{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}
#header{
    min-width: 600px;
    width: 100%;
    height: 100px;
    background-color: activeborder;
}
#main_head{
    float: left;
    width: 70%;
    min-height: 100px;
}
#login_head{
    float: left;
    width: 29%;
    min-height: 100px;
}
#login{
    margin: 20px;
}
#login form input{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    outline:none;border:1px solid #00CCAA;
    font-size: 12px;
}
#login form input[type="submit"]{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    outline:none;border:1px solid #00CCAA;
    font-size: 12px;
    background-color: cadetblue;
    color: white;
}
#main_body{
    min-width: 600px;
    width: 100%;
    min-height: 700px;
    background-color: buttonface;
}
#footer{
    height: 100px;
}
#left{
    float: left;
    width: 60%;
    height: 690px;
    background-image: url(http://www.cecil.ebranch.info/files/236_Library%20Advocacy%20Logo%20March%202010%20transparent.png);
    background-size: cover;
}
#right{
    float: left;
    width: 39%;
    height: 690px;
    
}
#registration{
    margin: 20px;
}
#reg_head{
    font-size: 2em;
    font-style: oblique;
}
#registration input{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    display: list-item;
    margin: 10px;
    outline:none;border:1px solid #00CCFF;
    font-size: 16px;
    font-style: italic;
}
#registration input[type="submit"]{
    background-color: forestgreen;
    color: white;
}

#add_book input{
    width: 150px;
    height: 20px;
    border-radius: 10px;
    display: list-item;
}
#add_book #inner{
    margin-left: 50px;
}