root { 
    display: block;
}

body{
    margin: 0px;
    padding: 0px;
}

#home_header{
    height: 100px;
    background-color: activeborder;
}
#search{
    float: left;
    height: 100px;
    width: 65%;
    
    
}
#search input[type="text"]{
    margin-left: 30%;
    margin-top: 20px;
    width: 60%;
}
#search input[type="submit"]{
    width: 60px;
    height: 30px;
}
#user_menu{
    float: left;
    height: 100px;
    width: 34%;
   
}
#user_menu ul li{
    display: inline;
    margin-right: 5px;
    font-size: 1em;
}
#home_main{
    clear: both;
    width: 100%;
    min-height: 600px;
    background-color: buttonface;
    
}
#left_main{
    float: left;
    width: 14%;
    min-height: 600px;
    
}
#right_main{
    float: left;
    width: 14%;
    min-height: 600px;
   
}
#center_main{
    float: left;
    width: 70%;
    min-height: 600px;

}
.book{
    position: relative;
    border: 2px solid gray;
    width: 200px;
    float: left;
    padding: 15px;
    margin: 10px 10px 40px 10px;
}
.book_img img{
    max-width: 100%;
    height: 200px;
}
.book_info{
    width: 70%;
    font-size: 1em;
}
.book_order{
    position: absolute;
    left: 70%;
    top: 90%;
    
    
}

#footer{
    clear: both;
    height: 100px;
}
.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
   }